body {
	margin: 0;
	padding: 0;
	position: relative;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	background-color: #dae4eb;
}

a {
	text-decoration: none;
}

.visually-hidden,
input[type="checkbox"].visually-hidden {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
}

main {
	position: relative;
	text-align: center;
}

.main-header {
	background-color: #ffffff;
	min-height: 55px;
}

.main-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	color: #000000;
}

.main-header-logo {
	display: block;
	align-self: center;
	position: absolute;
	z-index: 1;
	width: 140px;
	height: 72px;
}

.site-navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1055px;
	margin: 0;
	padding: 15px 0;
	list-style: none;
}

.site-navigation li {
	width: 240px;
}

.site-navigation li:nth-child(2) {
	margin-right: auto;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
	text-align: right;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus,
.site-navigation a:active {
	color: #b2b2b2;
}

.site-navigation-current a {
	color: #766357;
}

.promo {
	display: flex;
	justify-content: center;
	position: relative;
	min-height: 515px;
	padding-top: 70px;
	margin-bottom: 55px;
	background-color: #9faab6;
	background-image: url("../img/background-photo.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.promo img {
	display: block;
	width: 459px;
	height: 353px;
}

.promo::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 55px;
	background-image: url("../img/promo-mask.svg");
	background-repeat: no-repeat;
}

.tagline {
	width: 440px;
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.summary {
	font-weight: normal;
	color: #333333;
}

.reasons {
	margin: 45px 0;
}

.reasons-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.reasons-list h3 {
	margin: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 21px;
}

.reasons-item {
	flex-grow: 1;
}

.reasons-item:nth-child(1) {
	display: flex;
	flex-wrap: wrap;
}

.reasons-item p,
.reasons-item span {
	font-size: 14px;
	line-height: 21px;
}

.reasons-item p {
	margin: 0;
	margin-top: 20px;
}

.reason-description {
	padding: 50px;
	box-sizing: border-box;
}

.reason-number {
	font-weight: normal;
}

.reason-img {
	width: 800px;
}

.reason-img img {
	display: block;
	width: 800px;
}

.reasons-item:nth-child(2) {
	display: flex;
}

.reasons-item:nth-child(2) .reason-description {
	order: 1;
}

.reason-points {
	display: flex;
	list-style: none;
	justify-content: center;
	padding: 0;
	color: #000000;
	background-color: #ffffff;
}

.reason-points-item {
	width: 400px;
	box-sizing: border-box;
	position: relative;
	padding: 150px 65px 80px;
}

.reason-points-item:nth-child(1)::before {
	content: "";
	width: 75px;
	height: 72px;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
}

.reason-points-item:nth-child(2)::before {
	content: "";
	width: 74px;
	height: 70px;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
}

.reason-points-item:last-child::before {
	content: "";
	width: 64px;
	height: 76px;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
}

.reason-points-item h3,
.reason-points-item p {
	margin: 0;
}

.reason-points-item h3 {
	margin-bottom: 20px;
}

.reason-blue {
	width: 400px;
	color: #ffffff;
	background-color: #81b3d2;
}

.reason-blue p {
	color: #ffffff;
}

.reason-grey {
	width: 400px;
	box-sizing: border-box;
	padding: 45px 65px;
	color: #000000;
	background-color: #eeeeee;
}

.search-hotel h2 {
	margin: 0;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 36px;
	color: #000000;
}

.search-hotel p {
	margin: 0;
	margin-bottom: 45px;
}

.modal-open-button {
	display: inline-block;
	padding: 20px 140px;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #766357;
	border: none;
}

.modal-open-button:hover {
	background-color: #604e43;
}

.modal-open-button:focus,
.modal-open-button:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.modal-search {
	position: relative;
}

.search-hotel-form {
	position: absolute;
	left: 0;
	right: 0;
	background-color: #ffffff;
	width: 570px;
	margin: 0 auto;
	padding: 50px 0;
}

.search-hotel-form p {
	margin: 0;
}

.search-hotel-form .search-hotel-item {
	margin-bottom: 25px;
	position: relative;
}

.search-hotel-form input {
	box-sizing: border-box;
	height: 40px;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
}

::-webkit-input-placeholder {color:#000000;}
::-moz-placeholder          {color:#000000;}/* Firefox 19+ */
:-moz-placeholder           {color:#000000;}/* Firefox 18- */
:-ms-input-placeholder      {color:#000000;}

.search-hotel-form input:hover {
	background-color: #ebebeb;
	border: 2px solid #ebebeb;
}

.arrival-item input,
.departure-item input {
	width: 350px;
	padding-left: 9px;
}

.adult-item input,
.children-item input {
	width: 115px;
	text-align: center;
}

.search-hotel-form .item-wrapper {
	display: flex;
	justify-content: space-between;
	padding-left: 55px;
	padding-right: 55px;
}

.search-hotel-form input:focus {
	outline: none;
	background-color: transparent;
	border: 2px solid #ebebeb;
}

.search-hotel-form label {
	display: inline-block;
	margin-right: 20px;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
}

.adult-item input {
	margin-right: 50px;
}

.adult-item label {
	margin-right: 35px;
}

.children-item label {
	margin-right: 25px;
}

.calendar {
	display: inline-block;
	padding: 0;
	width: 22px;
	height: 22px;
	position: absolute;
	top: 10px;
	right: 65px;
	font-size: 0;
	border: none;
	background-image: url("../img/calendar.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.5;
}

.minus-btn {
	display: inline-block;
	padding: 0;
	width: 12px;
	height: 3px;
	background-color: #898989;
	position: absolute;
	top: 20px;
	left: 125px;
	font-size: 0;
	border: none;
}

.children-item .minus-btn {
	left: 80px;
}

.plus-btn {
	display: inline-block;
	padding: 0;
	width: 3px;
	height: 11px;
	background-color: #898989;
	position: absolute;
	top: 16px;
	right: 65px;
	font-size: 0;
	border: none;
}

.plus-btn::after {
	content: "";
	width: 11px;
	height: 3px;
	background-color: #898989;
	position: absolute;
	top: 4px;
	left: -4px;
}

.children-item .plus-btn {
	right: 15px;
}

.modal-search-button {
	display: inline-block;
	width: 455px;
	padding: 15px 0;
	margin-top: 25px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	background-color: #81b3d2;
	border: none;
}

.modal-search-button:hover {
	background-color: #669ec0;
}

.modal-search-button:focus,
.modal-search-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.map img {
	display: block;
	width: 100%;
	height: 593px;
}

.hotel-filters {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #ffffff;
	background-color: #4e555c;
	background-image: url("../img/filter-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

.hotel-filters fieldset {
	border: none;
}

.hotel-filters legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
}

.hotel-filters ul {
	list-style: none;
}

.filter {
	display: flex;
	min-height: 215px;
}


fieldset.type {
	margin-right: auto;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #ffffff;
}

.filter-input:disabled + label {
	color: #4e555c;
}

.filter-button {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	background-color: transparent;
	border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
	color: #000000;
	background-color: #ffffff;
}

.sorting-filters {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
	line-height: 18px;
}

.sorting-filters p {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.sorting-filters .wrapper {
	width: 118px;
	margin-right: 40px;
}

.sorting {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.sorting-title {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.sorting-list {
	display: flex;
	list-style: none;
	margin-right: auto;
}

.sorting-item {
	margin-right: 25px;
}

.sorting-item a {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #766357;
	border-bottom: 1px dotted #766357;
}

.sorting-item a:hover {
	color: #81b3d2;
	border-bottom: 1px dashed #81b3d2;
}

.sorting-item a:focus,
.sorting-item a:active {
	color: #000000;
	border-bottom: none;
}

.sorting-item-active a {
	color: #81b3d2;
}

.catalog-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-item {
	display: flex;
	align-items: flex-start;
	width: 100%;
	box-sizing: border-box;
	padding: 25px 72px 30px;
	text-align: left;
	border-top: 1px solid #f2f2f2;
}

.catalog-item:last-child {
	border-bottom: 1px solid #f2f2f2;
}

.catalog-item h3 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	margin: 0;
}

.catalog-item-image {
	margin-top: 5px;
	margin-right: 30px;
	width: 135px;
	height: 90px;
}

.catalog-item-info {
	max-width: 750px;
	margin-right: auto;
}

.catalog-item-info p {
	margin: 0;
	margin-bottom: 10px;
}

.catalog-item a {
	color: #000000;
}

.catalog-item a:hover {
	color: #81b3d2;
}

.catalog-item a:focus,
.catalog-item a:active {
	color: #b2b2b2;
}

.catalog-item-info .column {
	display: flex;
}

.catalog-item-info .column div:last-child {
	margin-left: 5px;
}

.catalog-item-price {
	width: 265px;
	padding-top: 10px;
}

.catalog-item-price .button,
.catalog-item-price .button-order {
	display: inline-block;
	padding: 2px 15px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	border: none;
}

.catalog-item-price .button {
	background-color: #81b3d2;
}

.catalog-item-price .button:hover {
	color: #ffffff;
	background-color: #669ec0;
}

.catalog-item-price .button:focus,
.catalog-item-price .button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.catalog-item-price .button-order {
	background-color: #766357;
}

.catalog-item-price .button-order:hover {
	color: #ffffff;
	background-color: #604e43;
}

.catalog-item-price .button-order:focus,
.catalog-item-price .button-order:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.catalog-item-rate {
	width: 115px;
}

.catalog-item .rate {
	margin-top: 40px;
	padding: 5px 15px;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #666666;
	background-color: #f2f2f2;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	z-index: 1;
	padding: 35px 0;
	color: #000000;
	background-color: rgba(255, 255, 255, 0.9);
}

.inner-footer {
	position: static;
}

.footer-hashtag {
	font-size: 21px;
	line-height: 26px;
	width: 400px;
	text-align: center;
}

.footer-social {
	width: 400px;
	text-align: center;
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	background-color: #81b3d2;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active path,
.social-button:focus path {
	fill: rgba(255, 255, 255, 0.3);
}

.footer-social ul {
	display: flex;
	justify-content: space-between;
	width: 150px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.footer-copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.footer-copyright b {
	display: block;
	margin-right: 10px;
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	color: #000000;
}

.footer-copyright a {
	display: block;
	width: 115px;
	height: 40px;
}
